<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora excepturi
  doloribus obcaecati autem rerum cupiditate.
</p>
<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni corporis
  similique, dolorum esse modi quas.
</p>
<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias animi delectus
  asperiores soluta maiores quia.
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit ratione vitae
  voluptas? Neque, rerum molestias!
</p>
<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui repellendus
  debitis dicta, ducimus excepturi beatae!
</p>
<p>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel quos qui,
  explicabo rerum tempora ea?
</p>

<button type="button" (click)="getInfo()">Get</button>
