<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
  >
    <mat-toolbar> Note App </mat-toolbar>
    <mat-nav-list *ngIf="!user.isLoggedIn">
      <a mat-list-item [routerLink]="['/']" (click)="drawer.toggle()">Home</a>
      <a mat-list-item [routerLink]="['/public']" (click)="drawer.toggle()"
        >Public</a
      >
      <a mat-list-item [routerLink]="['/register']" (click)="drawer.toggle()"
        >Register</a
      >
      <a mat-list-item [routerLink]="['/login']" (click)="drawer.toggle()"
        >Login</a
      >
    </mat-nav-list>
    <mat-nav-list *ngIf="user.isLoggedIn">
      <a mat-list-item [routerLink]="['/']" (click)="drawer.toggle()">Home</a>
      <a mat-list-item [routerLink]="['/public']" (click)="drawer.toggle()"
        >Public</a
      >
      <a mat-list-item [routerLink]="['/settings']" (click)="drawer.toggle()"
        >Settings</a
      >
      <a mat-list-item (click)="drawer.toggle(); onLogout()">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span><a mat-button [routerLink]="['/']" class="logo">Note App</a></span>
      <span class="spacer"></span>
      <div *ngIf="!user.isLoggedIn">
        <a mat-button [routerLink]="['/']">Home</a>

        <a mat-button [routerLink]="['/public']">Public notes</a>

        <a mat-button [routerLink]="['/register']">Register</a>

        <a mat-button [routerLink]="['/login']">Login</a>
      </div>
      <div *ngIf="user.isLoggedIn">
        <a mat-button [routerLink]="['/']">My notes</a>

        <a mat-button [routerLink]="['/public']">Public notes</a>

        <a mat-button [routerLink]="['/settings']">Settings</a>

        <a mat-button (click)="onLogout()">Logout</a>
      </div>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
