<h1>Simple note taking for anybody.</h1>

<div class="slideshow-container">
  <div class="mySlides fade">
    <img src="assets/anybody.jpg" style="width: 100%" />
  </div>
</div>

<br />

Some statistics
<div class="flex-container">
  <mat-card class="statistic-card">
    <br />
    <span class="statistic-number">{{ stats.users }}</span>
    <br />
    users
  </mat-card>

  <mat-card class="statistic-card">
    <br />
    <span class="statistic-number">{{ stats.notes }}</span>
    <br />
    notes
  </mat-card>
</div>
