<mat-card>
  <h1>Settings</h1>

  <form (ngSubmit)="onSubmit()" #form="ngForm" class="example-form">
    <mat-form-field class="example-full-width" hideRequiredMarker>
      <mat-label>First name</mat-label>

      <br />

      <input
        type="text"
        name="firstname"
        id="firstname"
        [ngModel]="userService.firstName"
        #firstname
        matInput
        text
        required
        minlength="3"
      />
      <mat-error>It must be filled out</mat-error>
    </mat-form-field>

    <br /><br />

    <mat-form-field class="example-full-width" hideRequiredMarker>
      <mat-label>Last name</mat-label>

      <br />

      <input
        type="text"
        name="lastname"
        id="lastname"
        [ngModel]="userService.lastName"
        #lastname
        matInput
        text
        required
        minlength="3"
      />
      <mat-error>It must be filled out</mat-error>
    </mat-form-field>

    <br /><br />

    <mat-form-field class="example-full-width" hideRequiredMarker>
      <mat-label>Email</mat-label>

      <br />

      <input
        type="email"
        name="email"
        id="email"
        [ngModel]="userService.email"
        #email
        matInput
        email
        required
      />
      <mat-error>It must be a valid email address</mat-error>
    </mat-form-field>
    <br /><br />

    <mat-form-field class="example-full-width" hideRequiredMarker>
      <mat-label>New password</mat-label>

      <br />

      <input
        type="password"
        name="newPassword"
        id="newPassword"
        ngModel
        #newPassword
        matInput
        password
        minlength="6"
      />
      <mat-error>It must be over 5 characters</mat-error>
    </mat-form-field>

    <br /><br /><br /><br />

    <mat-form-field class="example-full-width" hideRequiredMarker>
      <mat-label>Current password</mat-label>

      <br />

      <input
        type="password"
        name="currentPassword"
        id="currentPassword"
        ngModel
        #currentPassword
        matInput
        password
        required
        minlength="1"
      />
      <mat-error>It must be over 5 characters</mat-error>
    </mat-form-field>

    <br /><br />

    <button
      type="submit"
      [disabled]="!form.valid"
      mat-raised-button
      color="primary"
    >
      Save
    </button>
  </form>

  {{ message }}
</mat-card>
