/* You can add global styles to this file, and also import other style files */

/* @import "https://fonts.googleapis.com/icon?family=Material+Icons"; */

/* @import url("~simpledotcss/simple.min.css"); */

html,
body {
  height: 100%;
  cursor: default;
  font-size: 40px;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-y: hide;
}

h1,
.centered-button {
  text-align: center;
  padding: 10px 0;
}

h2 {
  padding: 0.5rem;
}

main {
  padding-top: 0.5rem;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: hidden;
}

mat-card {
  margin: 5px;
  width: 270px;
}

.welcome-mat-card {
  height: 4rem;
}

.container {
  padding: 0 10px;
  margin: 10px auto;
  max-width: 1380px;
}

app-welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

app-login,
app-register,
app-settings {
  display: flex;
  justify-content: center;
  align-items: center;
}

app-note,
app-public,
app-home {
  padding: 0 10px;
  margin: 10px auto;
  max-width: 700px;
}

.centered {
  text-align: center;
}

.example-form {
  min-width: 150px;
  max-width: 300px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.centered-text {
  text-align: center;
}

.red-text {
  color: red;
}

.black-text {
  color: black;
}

.statistic-card {
  text-align: center;
}

.statistic-number {
  font-size: 1.5rem;
}

.wide-card {
  max-width: 600px;
  min-width: 270px;
}

app-gdpr {
  max-width: 600px;
  overflow-y: hide;
}

/* a:link,
a:visited,
a:hover,
a:active {
  color: #683cb4;
} */
