<mat-card>
  <h1>Account registration</h1>

  <div *ngIf="!submitted">
    <form (ngSubmit)="onSubmit()" #form="ngForm" class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>First name</mat-label>

        <br />

        <input
          type="text"
          name="firstname"
          id="firstname"
          ngModel
          #firstname
          matInput
          text
          required
          minlength="3"
        />
        <mat-hint>Enter first name</mat-hint>
        <mat-error>It must be filled out</mat-error>
      </mat-form-field>

      <br /><br />

      <mat-form-field class="example-full-width">
        <mat-label>Last name</mat-label>

        <br />

        <input
          type="text"
          name="lastname"
          id="lastname"
          ngModel
          #lastname
          matInput
          text
          required
          minlength="3"
        />
        <mat-hint>Enter last name</mat-hint>
        <mat-error>It must be filled out</mat-error>
      </mat-form-field>

      <br /><br />

      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>

        <br />

        <input
          type="email"
          name="email"
          id="email"
          ngModel
          #email
          matInput
          email
          required
        />
        <mat-hint>Enter email address</mat-hint>
        <mat-error>It must be a valid email address</mat-error>
      </mat-form-field>
      <br /><br />

      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>

        <br />

        <input
          type="password"
          name="password"
          id="password"
          ngModel
          #password
          matInput
          password
          required
          minlength="6"
        />
        <mat-hint>Enter password</mat-hint>
        <mat-error>It must be over 5 characters</mat-error>
      </mat-form-field>

      <br /><br />

      <div class="centered-button">
        <button
          type="submit"
          [disabled]="!form.valid"
          mat-raised-button
          color="primary"
        >
          Register
        </button>
      </div>
    </form>
    <div class="centered-text red-text">{{ message }}</div>
  </div>
  <div *ngIf="submitted" class="centered-text">
    Success! You can now log in.
  </div>
</mat-card>
