<p>My notes page.</p>

<label for="title">Title</label>
<br />
<input type="title" id="title" [(ngModel)]="userNote.title" autofocus />
<br />
<label for="content">Content</label>
<br />
<input type="content" id="content" [(ngModel)]="userNote.content" height="48" />
<br />
<button type="button" (click)="onFormSubmit($event)">Add note</button>

<div *ngFor="let userNote of userNotes">
  <input type="text" [(ngModel)]="userNote.title" />
  <input type="text" [(ngModel)]="userNote.content" />
</div>
